.catalogPageHeader {
    background-color: #fff;
}

.aboutCourse {
    background-color: #fff;
}

.aboutCourse_block {
    padding-top: 100px;

    @include tab {
        padding-top: 80px;
    }

    @include mobile {
        padding-top: 60px;
    }
}

.aboutCourse_Main {
    padding-bottom: 160px;

    @include tab {
        padding-bottom: 100px;
    }

    .aboutCourse_item {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 0 160px;
        padding-top: 15px;

        @include tab {
            gap: 24px;
        }

        @include mobile {
            flex-direction: column-reverse;
        }

        .aboutCourse_item-L {
            width: calc(65% - 80px);

            @include tab {
                width: calc(60% - 12px);
            }

            @include mobile {
                width: 100%;
            }

            .mainTitle {
                @include tab {
                    font-size: 36px;
                }
                @include mobile {
                    font-size: 30px;
                }
            }

            .mainSubTitle {
                width: 84%;
                padding: 32px 0 64px 0;

                @include tab {
                    font-size: 20px;
                    line-height: 24px;
                    padding: 20px 0 30px 0;
                    width: 90%;
                }

                @include mobile {
                    width: 100%;
                    font-size: 18px;
                    line-height: 24px;
                    padding: 16px 0 24px 0;
                }
            }

            .mainLink {
                font-size: 20px;

                @include mobile {
                    width: 100%;
                }
            }
        }
        .aboutCourse_item-R {
            width: calc(35% - 80px);

            @include tab {
                width: calc(40% - 12px);
            }

            @include mobile {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .aboutCourse_item-picB {
                position: relative;
                border-radius: 40px;
                background: #C6B3FF;
                width: 336.544px;
                height: 355.097px;
                transform: rotate(-2.377deg);
                flex-shrink: 0;

                @include tab {
                    width: 260.544px;
                    height: 260.097px;
                }
            }

            .aboutCourse_item-img {
                position: absolute;
                top: 73px;
                left: -31px;
                
                @include tab {
                    width: 115%;
                    height: 100%;
                    top: 16px;
                    left: -24px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.aboutCourse_Info-items {
    display: flex;
    flex-direction: column;
    gap: 160px 0;

    @include tab {
        gap: 100px 0;
    }

    @include mobile {
        gap: 60px 0;
    }
    .aboutCourse_Info-item {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0 50px;

        @include tab {
            gap: 24px;
        }

        @include mobile {
            flex-direction: column;
        }

        .aboutCourse_Info-item_L {
            width: calc(35% - 25px);
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            position: relative;
            padding: 32px 24px;

            @include tab {
                width: calc(40% - 12px);
                background-color: #100E2D;
                border-radius: 40px;
            }

            @include mobile {
                width: 80%;
            }

            .aboutCourse_InfoImg {
                position: relative;
                z-index: 2;

                @include tab {
                    position: absolute;
                    top: -35%;
                    right: -12%;
                    display: block;
                    width: 55%;
                    height: 55%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .aboutCourse_Info-item_L-span {
                color: #FFF;
                font-family: "Unbounded-Medium";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding: 31px 0 16px 0;
                position: relative;
                z-index: 2;

                @include tab {
                    font-size: 20px;
                    padding: 0 0 16px 0;
                }
            }

            .aboutCourse_Info-item_L-text {
                position: relative;
                z-index: 2;
                color: #CFCFD5;
                font-family: "GraphikRegular", "myriadProReg";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                width: 90%;

                @include tab {
                    font-size: 18px;
                    line-height: 24px;
                    width: 100%;
                }
            }

            .aboutCourse_Info-svg{
                position: absolute;
                top: 73px;
                left: 0;
                z-index: 1;

                @include tab {
                    display: none;
                }
            }
        }
        .aboutCourse_Info-item_R {
            width: calc(65% - 25px);

            @include tab {
                width: calc(60% - 12px);
            }

            @include mobile {
                width: 100%;
            }

            .aboutCourse_Info-title {
                color: #100E2D;
                font-family: "Unbounded-SemiBold";
                font-size: 37px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @include tab {
                    font-size: 30px;
                }
            }

            .aboutCourse_Info-subtitle {
                padding: 32px 0 24px 0;
                color:#100E2D;
                font-family: "Unbounded-SemiBold";
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @include tab {
                    padding: 20px 0 16px 0;
                }

                @include mobile {
                    padding: 16px 0 10px 0;
                    font-size: 18px;
                }
            }

            .aboutCourse_Info-lists {
                display: flex;
                flex-direction: column;
                gap: 12px 0;
                align-items: start;
                justify-content: start;

                @include tab {
                    gap: 8px;
                }
            }

            .aboutCourse_Info-list {
                color: #58566C;
                font-family: "GraphikRegular", "myriadProReg";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                display: flex;
                align-items: start;
                justify-content: start;
                gap: 0 8px;

                @include tab {
                    line-height: 24px;
                }

                @include mobile {
                    font-size: 18px;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 6px !important;
                    height: 6px !important;
                    background-color: #100E2D;
                    border-radius: 50%;
                    position: relative;
                    top: 11px;

                    @include tab {
                        min-width: 6px;
                        min-height: 6px;
                    }
                }
            }
        }

        &.scndInfoItem {
            flex-direction: row-reverse;
            padding: 27.5px 0;

            @include tab {
                padding: 0;
            }

            @include mobile {
                flex-direction: column;
            }

            .aboutCourse_Info-item_L {
                padding: 0;
                align-items: center;

                @include tab {
                    height: 280px;
                    background-color: #C6B3FF;

                    .aboutCourse_InfoImg {
                        top: 10%;
                        right: 10%;
                        width: 80%;
                        height: 80%;
                    }
                }

                .aboutCourse_Info-svg{
                    top: -75px;
                }
            }

            .aboutCourse_Info-item_R {
                .aboutCourse_Info-title {
                    padding-bottom: 32px;

                    @include tab {
                        padding-bottom: 24px;
                    }

                    @include mobile {
                        padding-bottom: 16px;
                    }
                }
                .aboutCourse_Info-subtitle {
                    padding: 0 0 24px 0;

                    @include tab {
                        padding-bottom: 20px;
                        font-size: 18px;
                    }

                    @include mobile {
                        padding-bottom: 16px;
                        font-size: 16px;
                    }

                    &:last-of-type {
                        padding: 0;
                    }
                }
            }
        }

        &.thirthInfoItem {
            padding: 65px 0;

            @include tab {
                padding: 0;
            }
            .aboutCourse_Info-item_L {
                padding: 0;
                align-items: center;

                @include tab {
                    height: 280px;
                    background-color: #C6B3FF;

                    .aboutCourse_InfoImg {
                        width: 80%;
                        height: 80%;
                        top: 7%;
                        left: 10%;
                    }
                }

                .aboutCourse_Info-svg{
                    top: -44px;
                    path {
                        fill: #C6B3FF;
                    }
                }
            }
            .aboutCourse_Info-item_R {

                .aboutCourse_Info-title {
                    padding-bottom: 32px;

                    @include tab {
                        padding-bottom: 24px;
                    }

                    @include mobile {
                        padding-bottom: 16px;
                    }
                }

                .aboutCourse_Info-subtitle {
                    padding: 0 0 24px 0;

                    @include tab {
                        padding-bottom: 20px;
                        font-size: 18px;
                    }

                    @include mobile {
                        padding-bottom: 16px;
                        font-size: 16px;
                    }

                    &:last-of-type {
                        padding: 0;
                    }
                }
            }
        }
    }

    .courseExpert {
        position: relative;
        padding: 45px 58px 85px 58px;
        transform: rotate(-1deg);
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 40px 0;

        @include tab {
            background-color: #100E2D;
            border-radius: 40px;
            padding: 40px 45px 50px 40px;
            gap: 24px;
        }

        @include mobile {
            padding: 35px 35px 40px 35px;
            gap: 50px;
        }

        .courseExpert_title {
            color: #FFF;
            font-family: "Unbounded-SemiBold";
            font-size: 37px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            position: relative;
            z-index: 2;

            @include tab {
                font-size: 30px;
            }
        }

        .courseExpert_block {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0 48px;
            padding-left: 16px;

            @include tab {
                gap: 0 32px;
            }

            @include mobile {
                flex-direction: column;
                gap: 24px;
                padding-left: 0;
            }
        }

        .courseExpert_Pic {
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 212px;
                height: 212px;
                position: absolute;
                top: -4px;
                left: -5px;
                background-color: #C6B3FF;
                border-radius: 40px;
                z-index: 3;

                @include tab {
                    width: 152px;
                    height: 156px;
                    top: -7px;
                    left: -5px;
                }

                @include mobile {
                    width: 264px;
                    height: 264px;
                }
            }
            &::before {
                content: "";
                display: block;
                width: 212px;
                height: 212px;
                position: absolute;
                top: -8px;
                left: -10px;
                background-color: #C6B3FF;
                opacity: 0.5;
                border-radius: 40px;

                @include tab {
                    width: 152px;
                    height: 156px;
                    top: -11px;
                    left: -10px;
                }

                @include mobile {
                    width: 264px;
                    height: 264px;
                }
            }

            .courseExpert_Pic-bj {
                display: block;
                width: 212px;
                height: 212px;
                position: absolute;
                top: -13px;
                left: -14px;
                background-color: #C6B3FF;
                opacity: 0.5;
                border-radius: 40px;

                @include tab {
                    width: 152px;
                    height: 156px;
                    top: -15px;
                    left: -14px;
                }

                @include mobile {
                    width: 264px;
                    height: 264px;
                }
            }
        }

        .courseExpert_img {
            position: relative;
            z-index: 4;

            @include tab {
                display: block;
                width: 150px;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            @include mobile {
                width: 260px;
            }
        }

        .courseExpert_text {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: start;
            justify-content: start;
        }

        .courseExpert_text-name {
            color:#FFF;
            font-family: "Unbounded-Medium";
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @include tab {
                font-size: 26px;
            }

            @include mobile {
                font-size: 20px;
            }
        }

        .courseExpert_text-p {
            color: #CFCFD5;
            font-family: "GraphikRegular", "myriadProReg";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;

            @include tab {
                line-height: 24px;
            }

            @include mobile {
                font-size: 18px;
                line-height: 24px;
            }
        }

        .courseExpert_svg {
            position: absolute;
            top: 0px;
            left: 0;
            z-index: 1;

            @include tab {
                display: none;
            }
        }

    }
}

// demo version

.demoVer {
    padding: 160px 0;
    background-color: #fff;

    @include tab {
        padding: 100px 0;
    }

    @include mobile {
        padding: 60px 0;
    }

    .demoVer_block {
        position: relative;
        padding: 75px 45px 75px 61px;

        @include tab {
            background-color: #C6B3FF;
            border-radius: 40px;
            padding: 45px 45px 45px 50px;
            transform: rotate(0.6deg);
        }

        @include mobile {
            padding: 35px 35px 40px 35px;
        }

        .demoVer_sides {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: start;
            justify-content: start;
            gap: 0 32px;

            @include tab {
                gap: 24px;
                flex-direction: column;
            }

            @include mobile {
                gap: 16px;
            }

            .demoVer_L {
                width: calc(35% - 16px);
                display: flex;
                flex-direction: column;
                gap: 32px 0;
                align-items: start;
                justify-content: start;

                @include tab {
                    width: 100%;
                    gap: 24px;
                }

                @include mobile {
                    gap: 16px;
                }

                .demoVer_L-title {
                    color: #100E2D;
                    font-family: "Unbounded-Medium";
                    font-size: 37px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                    @include tab {
                        font-size: 30px;

                        br {
                            display: none;
                        }
                    }

                    @include mobile {
                        width: 100%;
                    }
                }
    
                .demoVer_L-text {
                    color: #58566C;
                    font-family: "GraphikRegular", "myriadProReg";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 27px;

                    @include tab {
                        font-size: 18px;
                        line-height: 24px;
                    }

                    @include mobile {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }

            .demoVer_R {
                width: calc(65% - 16px);

                @include tab {
                    width: 100%;
                    
                    .demoVer_form-items {
                        gap: 24px !important;
                    }

                    .demoVer_form-item {
                        input {
                            font-size: 18px !important;
                        }
                    }

                    .telAndCountry {
                        .yourTel {
                            width: 75% !important;
                            padding: 0 0 0 10px;
                        }
                        .nice-select {
                            width: 25% !important;
                        }
                    }
                }

                @include mobile {

                    .demoVer_form-items{
                        gap: 10px;
                    }
                    .demoVer_form-T {
                        flex-direction: column;
                        gap: 10px !important;
                        .demoVer_form-item {
                            width: 100% !important;
                        }
                    }
                }

                .demoVer_form-items {

                    display: flex;
                    flex-direction: column;
                    gap: 42px 0;

                    .demoVer_form-T {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 16px 15px;
                        align-items: start;
                        justify-content: start;

                        .demoVer_form-item {
                            width: calc(50% - 8px);

                            input {
                                color: #888796;
                                font-family: "GraphikRegular", "myriadProReg";
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 27px;
                                border-radius: 8px;
                                border: 1px solid #100E2D;
                                background: #F3F3F5;
                                outline: none;
                                height: 47px;

                                &:focus {
                                    color: #282642;
                                }

                                @include mobile {
                                    font-size: 18px !important;
                                    line-height: 24px !important;
                                }
                            }

                            .nice-select::after {
                                height: 20px;
                                width: 20px;
                                background-image: url(../imgs/selectIcon.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                border: none;
                                transform: rotate(0deg);
                                transform-origin: 0%;
                                top: 18px;
                            }

                            .nice-select.open:after {
                                transform: rotate(180deg);
                                transform-origin: 45%;
                            }

                            .companyName {
                                width: 100%;
                                padding: 10px 8px 10px 12px;
                            }
            
                            .youName {
                                width: 100%;
                                padding: 10px 8px 10px 12px;
                            }
                        
                            .aboutComp {
                                width: 100%;
                                color: #888796;
                                font-family: "GraphikRegular", "myriadProReg";
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 27px;
                                height: 47px;
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                padding: 10px 8px 10px 12px;
                                border: 1px solid #100E2D;
                                background-color: #F3F3F5;

                                @include mobile {
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                            }
                        
                            .youMail {
                                width: 100%;
                                padding: 10px 8px 10px 12px;
                            }
                        
                            .yourInterest {
                                width: 100%;
                                color: #888796;
                                font-family: "GraphikRegular", "myriadProReg";
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 27px;
                                height: 47px;
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                padding: 10px 8px 10px 12px;
                                border: 1px solid #100E2D;
                                background-color: #F3F3F5;
                            }
                        
                            &.telAndCountry {
                                .nice-select {
                                    border-radius: 8px 0 0 8px;
                                    background-color: #F3F3F5;
                                    border: 1px solid #100E2D;
                                    border-right: none;
                                    height: 47px;
                                    width: 15%;
                                }
                                .nice-select .option {
                                    &::after {
                                        content: "";
                                        width: 20px;
                                        height: 14px;
                                        display: flex;
                                        background-image: url(../imgs/russiaIcon.png);
                                        align-items: center;
                                        justify-content: center;
                                    }
                                }

                                .yourTel {
                                    border-radius: 0 8px 8px 0;
                                    border-left: none;
                                    width: 85%;
                                }
                            }
                        }
                    }
                }
            
                .demoVer_form-B {}
            
                .demoVer_btn {
                    border-radius: 100px;
                    padding: 0 24px;
                    display: flex;
                    height: 44px;
                    align-items: center;
                    justify-content: center;
                    gap: 0 7px;
                    background-color: #100E2D;
                    border: none;
                    outline: none;
                    color: #fff;
                    cursor: pointer;
                    margin-bottom: 12px;

                    @include mobile {
                        width: 100%;
                    }

                    &:hover {
                        background: linear-gradient(90deg, #5F53BE 0%, #905AA8 18.74%, #D2638D 39.17%, #DF8D84 66.08%, #E29A82 85.2%, #E9C07D 98.36%);
                        color: #fff !important;
                    }
                }
            
                .demoVer_form-label {
                    cursor: pointer;
                    color: #58566C;
                    font-family: "GraphikRegular", "myriadProReg";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21px;

                    &:hover {

                        .demoVer_form-label__link {
                            color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-image: linear-gradient(90deg, #5F53BE 0%, #905AA8 18.74%, #D2638D 39.17%, #DF8D84 66.08%, #E29A82 85.2%, #E9C07D 98.36%);
                            border-image: linear-gradient(90deg, #5F53BE 0%, #905AA8 18.74%, #D2638D 39.17%, #DF8D84 66.08%, #E29A82 85.2%, #E9C07D 98.36%);
                            border-image-slice: 1;
                        }
                    }

                    .inputCheck {}
            
                    .spanCheckbox {}
                
                    .demoVer_form-label__span {}

                    .demoVer_form-label__link {
                        color: #100E2D;
                        border-bottom: 1px solid #100E2D;
                    }
                }
            }
        }
    
        .demoVer_svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            @include tab {
                display: none;
            }
        }
    }

}