.politConf {
    .politConf_block {
        padding: 130px 0 160px 0;

        @include tab {
            padding: 100px 0;
        }

        @include mobile {
            padding: 60px 0;
        }
        .mainTitle {
            padding-bottom: 8px;

            @include tab {
                font-size: 34px;
            }

            @include mobile {
                font-size: 24px;
            }
        }

        .mainSubTitle {
            @include tab {
                font-size: 20px;
                line-height: 24px;
            }
        }

        .politConf_termins {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 60px 0;

            .politConf_termins-item {
            }
        }

        .politConf_p {
            padding: 80px 0;
            color: #888796;
            font-family: "GraphikRegular", "myriadProReg";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;

            @include tab {
                font-size: 18px;
                line-height: 24px;
                padding: 60px 0;
            }
        }

        .politConf_termins-title {
            color: #100E2D;
            font-family: "Unbounded-Medium";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-bottom: 24px;

            @include tab {
                font-size: 20px;
                padding-bottom: 16px;
            }
        }

        .politConf_termins-p {
            color: #888796;
            font-family: "GraphikRegular", "myriadProReg";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            width: 88%;

            @include tab {
                font-size: 18px;
                line-height: 24px;
                width: 100%;
            }

            span {
                color: #100E2D;
                font-family: "GraphikSemibold", "myriadProSemibold";
                font-weight: 600;
            }
        }
    }
}